.footerlink:hover a{
    font-weight: bold;
  }
  
  .footerlink a{
    text-decoration: none;
  }
  
  .dev{
    margin-bottom: 0;
  }
  
  .icone{
    margin-right: 3%;
    transition: fill 0,3s ease;
    color:#adb5bd;
  }
  
  .icone:hover{
    color: #fff;
  }

  li, .dev, h5{
    text-align: left;
  }

  .div-icone{
    text-align: left;
  }