.navbar {
    background-color: #000; /* Changez la couleur de la navbar */
    text-transform: uppercase;
  }
  
  .nav-link {
    color: #fff !important; /* Changez la couleur des liens */
  }
  
  .nav-link:hover {
    text-decoration: underline;
  }
  
  .nav-link.active {
    text-decoration: underline;
    font-weight: bold; /* Facultatif : pour rendre le lien plus visible */
  }