/* styles.css */
.custom-modal .modal-content {
    background-color: #212529;; /* Gris foncé */
    color: #fff; /* Texte en blanc */
    border-radius: 10px; /* Bords arrondis */
    text-align: left;
  }
  
  .custom-modal .modal-header {
    background-color: #212529; /* Gris encore plus foncé pour l'en-tête */
    color: #fff; /* Texte en blanc */
  }
  
  .custom-modal .modal-body {
    padding: 2rem;
  }
  
  .custom-modal .modal-footer {
    background-color: #212529;; /* Gris foncé */
    border-top: 1px solid #fff;
  }
  
  .custom-modal .modal-body img {
    max-width: 100%; /* S'assure que l'image ne déborde pas */
  }
  
  .custom-modal .modal-body h5 {
    color: #fff; /* Jaune clair pour le titre */
  }

  .borderModale{
    border-bottom: solid 1px #fff;
  }
  