.cardsPortfolio{
    height: 500px;

}

.cardsFooter{
    height: 15%;
    position:absolute;
    bottom: 0%;
    width: 100%;
    left: 0%;
    padding: 15px;

}

.shadow-sm{
    margin-bottom: 20%;
}

.folio{
    max-width: 90%;
}